/************Section Les Activités************/

.activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    align-items: flex-start;
    width: 100%;
}

/*TITRE H2*/

.activite-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*regroupement des cartes activités*/

.activite-cards{
    /*flex-wrap: wrap; a rendre wrap qu'au media queries ?*/
    width: 100%;
    max-height: 439px;  
}

.activite .activite-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 33px;
    gap: 20px;
}

/*carte individuel *4 */

.activite-cartetype{
    display: flex;
    flex-direction: column;
    width: 297px;
    height: 100%;
    min-height: 140px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
   
}

.activite-cards .card{
    height: 100%;
    padding: 0px;
}

.activite-cards img {
    width: 100%;
    max-height: 380px;
    height:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
}

.activite-cards .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    
   .activite-cartetype{
    max-height: 270px;
}

.activite-cards .card{
    max-height: 270px;
   }

.activite-cards img {
    max-height: 200px;
}


.activite-cards .card-content {
    max-height: 70px;
}




}

/* Small devices (phones, less than 768px) */
/*
@media (max-width: 767.98px) {
    .activite-cards{
        flex-wrap: wrap;
    
    }
}*/