/************Section Les Activités************/

.activities {
    width: 100%;
    padding: 30px;
}


/*TITRE H2*/

.activite-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Regroupement des cartes*/
.activities-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin-top: 33px;
}

/*Carte type*/

.standard-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    gap: 4px;
}

.standard-card img{
    object-fit: cover;
    width: 100%;
    max-height: 380px;
    height:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
}
.standard-card a{
    height: 100%;
}
.standard-card .card-content{
    width: 100%;
    box-sizing: border-box;
}

.standard-card .card-title{
    margin: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    
    .standard-card{
     max-height: 270px;
 }
 
 .standard-card img {
     max-height: 200px;
 }
 
 .standard-card .card-content {
     max-height: 70px;
 }
 
 }

/* Small devices (phones, less than 768px) */
/*
@media (max-width: 767.98px) {
    .activite-cards{
        flex-wrap: wrap;
    
    }
}*/