.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    gap: 15px;
}

.footer-nav a{
    display: flex;
    padding: 5px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .footer-nav{
        width: 100%;
    }
}
   

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
    }
    .footer-nav {
        column-gap: 15px;
        margin-bottom: 30px;
    }
    
}